$screenSmWidth: 576px;
$screenMdWidth: 768px;
$screenLgWidth: 992px;
$screenXlWidth: 1200px;

$globalFontColor: #4b4b4b;

// .Color.
// .Usage example: hsl(0deg, 0%, $clorGreyBrightLgtn + 9%).
// ----------------------------------------------------------

$clorGreyBright: #D4D4D4;
// .Abbrv: Color grey light.
$clorGrey: #777;
$clorGreyDark: #4b4b4b;
$clorPrimary: #17756A;
$clorOk: #177539;
$clorError: #757517;
